<!DOCTYPE html>
<html>
<head>
    <title>Thanksy - We want people to be appreciated</title>
    <% if (htmlWebpackPlugin.options.description) { %>
        <meta name="description" content="<%= htmlWebpackPlugin.options.description %>" />
    <% } %>
    <meta name="keywords" content="Thanksy, open source, slack, github, TV browser, appreciation tool, tooploox, thank you app, culture">
    <meta name="author" content="Tooploox">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <meta property="og:title" content="Thanksy - Enhance your company’s culture">
    <meta property="og:description" content="Open-source app that allows people to send appreciation via slack and broadcast it on the TV.">
    <meta property="og:image" content="assets/thanksy-og-image.png">
    <meta property="og:url" content="interaction.studio/dev">
    <meta name="twitter:card" content="summary_large_image">

    <meta property="og:site_name" content="Thanksy">
    <meta name="twitter:image:alt" content="Enhance your company’s culture">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=0,minimal-ui,width=device-width">
    <link rel="apple-touch-icon" href="/favicon.png">
    <link rel="icon" type="image/png" href="/favicon.png">
    <link rel="manifest" href="/manifest.json">


</head>

<body>
    <audio src="/assets/cheer.mp3" id="cheer"></audio>
    <noscript> You need to enable JavaScript to run this app.</noscript>
</body>
</html>
