@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600');
html {
    font-size: 1vh;
    margin: 0;
    padding: 0;
}

body {
    background: #D7EEF6;
    font-family: 'Poppins', Arial, Helvetica Neue, Helvetica, sans-serif;
    overflow-y: hidden;
    overflow-x: auto;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

::-webkit-scrollbar-track {
    box-shadow: none;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb {
    background: #79a5b4;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}
