@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600');
@import "../components/LayoutOptions.scss";
html {
    font-size: 1vh;
    margin: 0;
    padding: 0;
}

body {
    background: #D7EEF6;
    font-family: 'Poppins', Arial, Helvetica Neue, Helvetica, sans-serif;
    margin: 0;
    color: $themeColor;
    padding: 0;
}

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

::-webkit-scrollbar-track {
    box-shadow: none;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb {
    background: $themeColor;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}

.Version {
    position: fixed;
    right: 3rem;
    bottom: 3rem;
    font-size: 2.5rem;
    opacity: .5;
}
