.how{
  background: #DFF1FA;
  margin: 0 64px 96px 64px;}

  @media only screen and (max-width: 992px) {
    .how{
      margin: 0px;}
  }

.how__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 0 96px 0;}

  @media only screen and (max-width: 600px) {
    .how__container{
      padding: 0px 0 64px 0;}
  }

.how__item.video video {
  width: 100%;
  max-width: 720px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;}

.how__item.headline{
  width: 720px;
  margin: 0 auto;}

  @media only screen and (max-width: 992px) {
    .how__item.headline{
      padding: 0 40px;
      width: 100%;}
  }

  @media only screen and (max-width: 600px) {
    .how__item.headline{
      padding: 0 40px;
      width: 100%;}
  }

.how__item.headline h2{
  font-size: 42px;
  font-weight: 600;
  letter-spacing: 0.7;
  margin: 0 0 32px 0;
  text-align: center;}

  @media only screen and (max-width: 992px) {
    .how__item.headline h2{
      font-size: 36px;}
  }

  @media only screen and (max-width: 600px) {
    .how__item.headline h2{
      font-size: 28px;}
  }

.how__item.headline h6{
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 0.25px;
  margin: 0 0 42px 0;
  text-align: center;}

  @media only screen and (max-width: 992px) {
    .how__item.headline h6{
      line-height: 24px;
      font-size: 24px;}
  }

  @media only screen and (max-width: 600px) {
    .how__item.headline h6{
      font-size: 20px;}
  }

.how__item.buttons a{
  display: block;
  font-size: 20px;
  font-weight: 600;
  vertical-align: middle;
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 100px;
  box-shadow: 0 3px 5px 0 rgba(0,0,0,0.03);}

.how__item.buttons a:hover{
  transform: translate(0px, -3px);
  box-shadow: 0 10px 20px 0 rgba(0,0,0,0.05);}

.how__item.buttons .black span{
  display: inline-block;
  vertical-align: middle;
  margin: -2px 10px 0 0;
  height: 26px;
  width: 26px;
  background-image: url(../assets/ico-medium.svg);
  background-repeat: no-repeat;}

  @media only screen and (max-width: 992px) {
    .how__item.buttons a{
      font-size: 18px;}
  }

  @media only screen and (max-width: 600px) {
    .how__item.buttons a{
      font-size: 16px;}
  }
