$themeColor: #536dfe;
$themeColorImportant: #00c321;
$themeColorImportant2: #4cd964;
$themeColor2: #efeff4;
$themeColor3: #93939c;
$themeColor4: #a8a8b1;
$inputHeight: 52px;
$borderColor: rgba(0, 0, 0, 0.1);
$borderRadius: 5px;
$transition: 350ms all ease;
$desktopContentWidth: 720px;
$mobileContentMinWidth:335px;
$mobileContentMaxWidth:375px;
$desktopMinWidth: $desktopContentWidth+67px * 2;
$mobileHeaderHeight: 50px;
$desktopHeaderHeight: 108px;
$selectShadow: 0px 0px 1px 0 rgba(24, 24, 24, 0.19);
