@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600');
html {
    font-size: 1vh;
    margin: 0;
    padding: 0;
}

body {
    background: #D7EEF6;
    font-family: 'Poppins', Arial, Helvetica Neue, Helvetica, sans-serif;
    overflow-y: hidden;
    overflow-x: auto;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

::-webkit-scrollbar-track {
    box-shadow: none;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb {
    background: #79a5b4;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}

h1 {
    margin: 0;
    padding: 0;
    height: 1rem;
    padding: 2rem;
    font-weight: 500;
    letter-spacing: 0.1px;
    color: #79a5b4;
    position: fixed;
    font-size: 4rem;
    top: 7vh;
    left: 5rem;
}

.thanksContainer {
    display: flex;
    margin-top: 22vh;
}

.emoji2 {
    background-size: 20px 20px;
    background-repeat: no-repeat;
}

.newThanks {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.95);
    top: 0;
    left: 0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}

.emoji img {
    width: 2.5rem;
}

.newThanks h2 {
    font-size: 0.8em;
}

.newThanks .container {
    width: 40em;
    text-align: center;
    font-size: 1em;
    padding-bottom: 5em;
}

.newThanks .avatarsContainer {
    margin-top: 2em;
    margin-right: 2.5em;
}

.newThanks .avatarsContainer .avatar {
    height: 3em;
    width: 3em;
    margin-right: -1.5em;
    border: .2em solid white;
}

.newThanks .confetti {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 53em;
}

.animatedTransition {
    transition: all 1s ease-in-out;
}
