.emoji2 {
    background-size: 20px 20px;
    background-repeat: no-repeat;
}

.newThanks {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.95);
    top: 0;
    left: 0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}

.emoji img {
    width: 2.5rem;
}

.newThanks h2 {
    font-size: 0.8em;
}

.newThanks .container {
    width: 40em;
    text-align: center;
    font-size: 1em;
    padding-bottom: 5em;
}

.newThanks .avatarsContainer {
    margin-top: 2em;
    margin-right: 2.5em;
}

.newThanks .avatarsContainer .avatar {
    height: 3em;
    width: 3em;
    margin-right: -1.5em;
    border: .2em solid white;
}

.newThanks .confetti {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 53em;
}

.animatedTransition {
    transition: all 1s ease-in-out;
}
