.NewThx {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__ContentLimiter {
        max-width: 40vw;
        max-height: 80vh;
        min-height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    h2 {
        font-size: 3rem;
        text-align: center;
    }
    width: 100vw;
    height: 100vh; // background: url("../assets/confetti.svg") bottom center no-repeat;
    background-size: 50vw 50vw;
    &__ConfettiContainer {
        position: fixed;
        bottom: 0;
        left: 50vw;
    }
    &__Avatars {
        margin-top: 1rem;
    }
}
