@import "./LayoutOptions.scss";
.TextChunks {
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 0.3px;
    color: black;
    &--light {
        color: white;
    }
    &--centred {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        span {
            text-align: center;
            padding-left: .5rem;
        }
    }
    img {
        width: 3rem;
        height: 3rem;
        padding: 0 .3rem;
    }
    mark:nth-of-type(1n) {
        @include gradient-text( linear-gradient(to right, #fb8bab, #9c94e8 46%, #68e1ef));
    }
    mark:nth-of-type(2n) {
        @include gradient-text(linear-gradient(to right, #5afda1, #52ccf4));
    }
    mark:nth-of-type(3n) {
        @include gradient-text(linear-gradient(to right, #f2c250, #fe557d));
    }
    @media (max-width: $desktopWidth) {
        font-size: 2.3rem;
    }
}
