.ThxList {
    &__Container {
        display: flex;
        margin-top: 22vh;
    }
    h1 {
        margin: 0;
        padding: 0;
        height: 1rem;
        padding: 2rem;
        font-weight: 500;
        letter-spacing: 0.1px;
        position: fixed;
        font-size: 4rem;
        top: 7vh;
        left: 5rem;
    }
    &__EmptyContainer {
        width: 100vw;
        height: 90vh;
        flex-direction: column;
        justify-content: center;
        display: flex;
        align-items: center;
    }
    &__Empty {
        background: url("../assets/empty.svg") center center;
        background-size: 43.92rem 12rem;
        width: 43.92rem;
        font-weight: 500;
        height: 12rem;
    }
    &__Title {
        padding-top: 6rem;
        font-size: 3.7rem;
    }
    &__Subtitle {
        padding-top: .7rem;
        font-size: 2.5rem;
    }
}
