.ThxList {
    &__Container {
        display: flex;
        margin-top: 22vh;
    }
    h1 {
        margin: 0;
        padding: 0;
        height: 1rem;
        padding: 2rem;
        font-weight: 500;
        letter-spacing: 0.1px;
        color: #79a5b4;
        position: fixed;
        font-size: 4rem;
        top: 7vh;
        left: 5rem;
    }
}
