.UserHeader {
    margin-left: 6rem;
    margin-right: 6rem;
    margin-bottom: 1rem;
    display: flex;
    &__Avatar {
        margin-right: 1.5rem;
        img {
            border-radius: 50%;
            height: 5rem;
            width: 5rem;
        }
    }
    &__Details {}
    &__Name {
        font-size: 2.5rem;
        margin-bottom: 0.25rem;
        letter-spacing: 0.01rem;
        line-height: 2.5rem;
        font-weight: 600;
        color: black;
    }
    &__Time {
        font-size: 1.7rem;
        color: rgb(121, 165, 180);
        letter-spacing: 0.025rem;
        line-height: 2.5rem;
    }
}
