@import "../LayoutOptions.scss";
.Clock {
    position: fixed;
    bottom: 3rem;
    left: 4rem;
    font-size: 2rem;
    opacity: .5;
    z-index: 1009;
    max-width: 50vw;
    @media (max-width: $desktopWidth) {
        position: relative;
    }
}
