@import "../LayoutOptions.scss";
.Version {
    position: fixed;
    right: 3rem;
    bottom: 3rem;
    font-size: 2rem;
    opacity: .5;
    z-index: 1009;
    max-width: 50vw;
    @media (max-width: $desktopWidth) {
        position: relative;
        right: auto;
        left: 4rem;
        bottom: 3rem;
    }
}
